<%- include ('./layouts/header') -%>
    <%- include ('./layouts/navbar') -%>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>Bienvenido</h3>
                    <h6> - Desafio 29 - </h6>
                    <p>Análisis completo de performance</p>
                </div>

            
            </div>
        </div>
        <%- include ('./layouts/footer') -%>