<h2 style="text-align:center; margin:1rem">PRODUCTOS</h2>
<div class="container bg-light text-dark p-2">
  <% if(array.length >= 1) { %> 
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>TITULO</th>
        <th>PRECIO</th>
        <th>IMAGEN</th>
      </tr>
    </thead>
    <tbody>
    <% array.forEach(function(arr) { %>
      <tr>
        <td><%= arr.id %></td>
        <td><%= arr.title %></td>
        <td><%= arr.price %></td> 
        <td><img src= <%=arr.thumbnail %> style="width:32px; heigth:32px"></td>
      </tr> 
    <% }) %> 
    </tbody>
  </table>  
  <% } else { %>
    <h3 class="alert alert-warning">No hay productos cargados</h1>
   <% } %> 
</div>










