<div class="container my-5 py-3 bg-secondary text-white text-center">

    <h2>

    </h2>
    <a href="/user/logout">
        <button class="btn-sm btn-warning" type="submit">Logout</button>
    </a>
</div>





<%- include ('../../public/productos.html') -%>
