<h2 style="text-align:center; margin-top:1rem">FORMULARIO DE INGRESO PRODUCTO</h2>

<div class="container bg-secondary text-white p-2">  
<form action="/api/productos" method="post" autocomplete="off" style="margin:2rem">
    <div class="mb-3">
        <label for="title" class="form-label">Nombre del producto</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Precio</label>
        <input type="number" class="form-control" id="price" name="price">
    </div>
    <div class="mb-3">
        <label for="thumbnail" class="form-label">URL</label>
        <input type="text" class="form-control" id="thumbnail" name="thumbnail">
    </div>
    <button type="submit" class="btn btn-primary">ENVIAR</button>
  </form>
</div>