<h2 style="text-align:center; margin:1rem">PRODUCTOS</h2>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Precio</th>
        <th>Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
    </tbody>
  </table>
</div>










