<%- include ('../partials/head') -%>

<div class="container mt-4 ">
<div class="jumbotron">
    <h1 class="display-4">¡OPS!</h1>
    <p class="lead">404 - PAGE NOT FOUND</p>
    <hr class="my-4">
    <p>Por favor revisa que la ruta sea correcta</p>
    <a class="btn btn-primary btn-lg" href="/" role="button">Volver</a>
  </div>

</div>