<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') -%>
    <title>PROYECTO FINAL</title>
</head>
<body>
    <%- include ('../partials/navbar') -%>
    
   
  
   <%- include ('../partials/cardsCart') -%>
  
    <%- include ('../partials/footer') -%>
