<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') -%>
        <title>PROYECTO FINAL</title>
</head>

<body>
    <%- include ('../partials/navbar') -%>
        <!-- Inicio Formulario Producto -->
        <h2 style="text-align:center; margin-top:1rem">FORMULARIO DE INGRESO PRODUCTO</h2>
        <div class="container bg-secondary text-white p-5">
            <form method="post" action="/productos" autocomplete="off">
                <div class="mb-3">
                    <label for="title" class="form-label">PRODUCTO</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Ejemplo: Cafe">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">PRECIO</label>
                    <input type="number" class="form-control" id="price" name="price" placeholder="Ejemplo: 1500">
                </div>
                <div class="mb-3">
                    <label for="stock" class="form-label">STOCK</label>
                    <input type="number" class="form-control" id="stock" name="stock" placeholder="Ejemplo: 10">
                </div>
                <div class="mb-3">
                    <label for="code" class="form-label">CODIGO</label>
                    <input type="text" class="form-control" id="code" name="code" placeholder="Ejemplo: PC-23">
                </div>
                <div class="mb-3">
                    <label for="thumbnail" class="form-label">IMAGEN</label>
                    <input type="text" class="form-control" id="thumbnail" name="thumbnail"
                        placeholder="Ejemplo: https://cdn2.iconfinder.com/data/icons/whcompare-isometric-web-hosting-servers/50/website-builder-128.png"
                        required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">DESCRIPCION</label><br>
                    <textarea name="description" id="description" cols="142" rows="10"></textarea>
                </div>

                <button type="submit" class="btn btn-primary btn-sm" id="btnForm">AGREGAR</button>
                <!-- Fin Formulario Producto -->

            </form>
        </div>

       
        <%- include ('../partials/footer') -%>